body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.resultValue {
  margin-bottom: 5px;
}

.unitForm,
.resultItem {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-top: 5px;
  margin: 5px;
}

.btn {
  margin-top: 15px;
}
